php_flag file_uploads on
php_value upload_tmp_dir "/utrail/uploads/"
php_value upload_max_filesize 10M

RewriteEngine On

RewriteCond %{REQUEST_URI} /(images|styles|scripts|libs)/
RewriteRule .* - [S=4]
RewriteCond %{REQUEST_URI} /utrail/
RewriteRule .* - [S=2]
RewriteRule ^.*$ home.html [NC,S=1]
RewriteRule .* - [S=1]
RewriteRule ^utrail\/.*$ utrail/index.php [NC]